.loadblock {
  width: 100%;
  height: 100vh;
  z-index: 200;
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  user-select: none;
  pointer-events: none;
  /*display: none;*/
}

.white-solid {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 200;
  background: rgb(0,0,0);
  animation: minimizeloader 0.4s forwards 5s cubic-bezier(.49,.02,.55,1);
  position: absolute;
}

.lillogo {
  width: 50px;
  height: 50px;
  background: url('../../../assets/img/local/icon/Potweb.svg');
  background-position: center;
  background-size: cover;
  animation: whothis 1s forwards;
  opacity: 0;
}

@keyframes whothis {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.indicator {
  width: 100%;
  /*height: 25px;*/
  position: absolute;
  z-index: 200;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 3px 0.5rem;
  opacity: 0;
  animation: indicator--active 0.2s forwards 5s;
  padding: 10px;
}

.wiggle {
  display: flex;
  background: rgba(0,0,0,0.86);
  align-items: center;
  padding: 3px 10px;
  border-radius: 5px;
}

.wiggleparent {
  height: 100%;
  /*background: red;*/
}

.wigglecontainer {
  width: 30px;
  display: flex;
  align-items: center;
  height: 100%;
  margin-right: 5px;
}

.wiggler {
  width: 10px;
  height: 10px;
  background: white;
  animation: wiggler 0.5s infinite;
  border-radius: 2px;
}

.indicatorspan {
  color: white;
}

@keyframes wiggler {
  from {
    transform: translate(0,0);
  }
  50% {
    transform: translate(15px,0);
  }
}

@keyframes minimizeloader {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes indicator--active {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes spinouter {
  0% {
    transform: rotate(0deg);
    border: solid 4px;
  }
  25% {
    transform: rotate(90deg);
    border: solid 20px;
  }
  50% {
    transform: rotate(180deg);
    border: solid 10px;
    border-radius: 0px;
  }
  75% {
    transform: rotate(270deg);
    border: solid 30px;
    background: rgb(255,255,255);
  }
  100% {
    transform: rotate(360deg);
    border: solid 4px;
  }
}

